# Python variables

* Variable creation and assignment,
* Variable type checking,
* Assigning single value to multiple variables
* Assigning multiple values to multiple variables

In [3]:
# Variable creation and assignment
a = 20

In [4]:
print(20)

20

In [5]:
# Variable type checking
type(a)

int

In [10]:
# Assigning single value to multiple variables
a = b = c = d = 50

In [11]:
print('a = ', a , 'b = ' , b ,'c = ', c , 'd = ', d)

a =  50 b =  50 c =  50 d =  50

In [12]:
# Assigning multiple values to multiple variables
a, b, c, d = 20, 50, 100, 300

In [13]:
print('a = ', a , 'b = ' , b ,'c = ', c , 'd = ', d)

a =  20 b =  50 c =  100 d =  300

# Python Numeric operations 
* Basic numeric operations,
* Numeric assignment operations
* Using math module

In [14]:
# Basic numeric operations – addition, subtraction, multiplication, division, floor division, modulus and exponents.

a = 2
b = 4
print('a = ', a ,'b = ',b)

a =  2 b =  4

In [17]:
print('Addition = ',a + b) # Addition
print('Subtraction = ',a - b) # Subtraction
print('Multiplication = ',a * b) # Multiplication
print('Division = ',a / b) # Division
print('Floor division = ',a // b) #Floor division
print('Modulus = ',a % b) # Modulus
print('Exponent = ',a ** b) # Exponent

Addition =  6
Subtraction =  -2
Multiplication =  8
Division =  0.5
Floor division =  0
Modulus =  2
Exponent =  16

In [18]:
# Numeric assignment operations - + = , - = , * = , /= etc.,
a += 1 # a = a + 1
b -= 1 # b = b - 1
print('a = ', a ,'b = ',b)

a =  3 b =  3

In [19]:
# Using math module
import math

In [23]:
math.log(a)

1.0986122886681098

# Logical operations 
* Logical operations 
* Relational operations

In [24]:
# Logical operations - and, or not 
a = True
b = False
print(a and b)
print(a or b)
print(a and not b)

False
True
True

In [29]:
# Relational operations - <, >, <=, >=, !=
a = 5
b = 2
print( a < b )
print( a > b )
print( a <= b )
print( a >= b )
print( a != b )

False
True
False
True
True

# Looping
* if else loop
* if elif else loop
* Example: Find the smallest number out of 3 values
* for loop

In [32]:
# if else loop
a = int(input('Hi, Enter a number '))

if a > 0:
    print('Accept')
else:
    print('Reject')

Hi, Enter a number 10
Accept

In [37]:
# if elif else loop
a = int(input('Hi, Enter a number '))

if a > 0:
    print('Accept')
elif a == 0:
    print('Re- enter the number')
else:
    print('Reject')

Hi, Enter a number 10
Accept

In [39]:
#Example: Find the smallest number out of 3 values
a = 10
b = 4
c = 20
small_val = 0

if a < b and a < c:
    small_val = a
elif b < a and b < c:
    small_val = b
else:
    small_val = c
    
print('Smallest value among three values is {}'.format(small_val))

Smallest value among three values is 4

In [59]:
# for loop - build tilted triange
stn = ''
for i in range(0, 9):
    if i < 5:
        stn += '*'
        print(stn)
    elif (i > 4):
        stn = stn[:-1]
        print(stn)

*
**
***
****
*****
****
***
**
*

# Functions
* User defined functions
* lambda functions

In [69]:
# User defined function
def multiply(n):
    """
    function to multiply number with same number
    """
    return n * n

print(multiply(10))

100

In [70]:
print(multiply.__doc__)

    function to multiply number with same number

In [71]:
# lambda function
multiply = lambda x: x * x
print(multiply(10))

100

# String manipulations
* String manipulations - len(), count()
* Case conversions - upper(), lower(), capitalize()
* Padding functions – rstrip(), lstrip()
* String slicing - [start:end:step]

In [79]:
# String manipulations - len(), count()
name = 'Hello!, my name is Manohar'

In [80]:
len(name)

26

In [81]:
name.count('m',0, -1)

2

In [84]:
# Case conversions - upper(), lower(), capitalize()
print(name.upper())
print(name.lower())
print(name.capitalize())

HELLO!, MY NAME IS MANOHAR
hello!, my name is manohar
Hello!, my name is manohar

In [88]:
# Padding functions – rstrip()
text = '     Hi to world of machine learning techniques           '
print(text, len(text))
print(text.rstrip(), len(text.rstrip()))

     Hi to world of machine learning techniques            58
     Hi to world of machine learning techniques 47

In [89]:
# Padding functions – lstrip()
text = '     Hi to world of machine learning techniques           '
print(text, len(text))
print(text.lstrip(), len(text.lstrip()))

     Hi to world of machine learning techniques            58
Hi to world of machine learning techniques            53

In [93]:
# String slicing - [start:end:step_size]
topic = 'Machine Learning'
print(topic[1:10])
print(topic[:10])
print(topic[:-1])
print(topic[:])
print(topic[:10:2])

achine Le
Machine Le
Machine Learnin
Machine Learning
McieL

# Python Data structures 
* List
    * List creation 
    * Accessing elements
    * List manipulations – append, insert, pop, remove
    
      Note:
      Lists share the values when we assign to another list, which means  any changes to one list in turn impacts the other list       as well. copy() method to resolve
    * In-build methods – len, sorted, min, max etc.,
    * Composite lists

In [1]:
# List
# List creation
a = []
print(type(a))
print(a)

<class 'list'>
[]

In [2]:
jobs = ['Hadoop developer','Hadoop admin','Machine learning scientist','Data scientist']
print(jobs)
print('************************************************************************************')
for i in jobs:
    print(i)

['Hadoop developer', 'Hadoop admin', 'Machine learning scientist', 'Data scientist']
************************************************************************************
Hadoop developer
Hadoop admin
Machine learning scientist
Data scientist

In [3]:
# Accessing elements - [start:end:step]
print(jobs[:2])

['Hadoop developer', 'Hadoop admin']

In [4]:
print(jobs[2:-1])
print(jobs[-1])

['Machine learning scientist']
Data scientist

In [5]:
# List manipulations – append value at the end
print(jobs)

['Hadoop developer', 'Hadoop admin', 'Machine learning scientist', 'Data scientist']

In [6]:
jobs.append('AI')
print(jobs)

['Hadoop developer', 'Hadoop admin', 'Machine learning scientist', 'Data scientist', 'AI']

In [7]:
# List manipulations – insert value at the specified index/position
jobs.insert(0, 'Web developer')
print(jobs)

['Web developer', 'Hadoop developer', 'Hadoop admin', 'Machine learning scientist', 'Data scientist', 'AI']

In [8]:
# List manipulations – pop method returns the value which is removed
jobs.pop(0)

'Web developer'

In [9]:
print(jobs)

['Hadoop developer', 'Hadoop admin', 'Machine learning scientist', 'Data scientist', 'AI']

In [10]:
# List manipulations – remove method will not return the value which is removed.
jobs.remove('Hadoop admin')

In [11]:
print(jobs)

['Hadoop developer', 'Machine learning scientist', 'Data scientist', 'AI']

In [13]:
# Note: Lists share the values when we assign to another list, 
# which means  any changes to one list in turn impacts the other list as well.
print(jobs)

['Hadoop developer', 'Machine learning scientist', 'Data scientist', 'AI']

In [20]:
jobs.append('web developer')
new_jobs = jobs
print(new_jobs)

['Hadoop developer', 'Machine learning scientist', 'Data scientist', 'AI', 'web developer']

In [21]:
jobs.remove('web developer')

In [23]:
print(new_jobs) # ==> Miss - leading it making impact to the new list as well.

['Hadoop developer', 'Machine learning scientist', 'Data scientist', 'AI']

In [25]:
# To avoid using same memory address, we should use copy() method
new_jobs1 = jobs.copy()
print(new_jobs1)

['Hadoop developer', 'Machine learning scientist', 'Data scientist', 'AI']

In [26]:
# In-build methods – len, sorted, min, max etc.,
print(len(jobs))
numbers = [1,2,4,5,67,83,46,4]
print(min(numbers))
print(max(numbers))

4
1
83

In [27]:
# Composite lists - multiple lists within a list
c_list = [ [1,2,5],
          [4,3,2],
          [5,3,1] ]

In [28]:
print(c_list)

[[1, 2, 5], [4, 3, 2], [5, 3, 1]]

In [31]:
c_list[0][1]   # 1 st row, 2nd column value

2